@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body
{
    font-size: 12px;
    margin: 0px;
     background-image: url('Images/wp3589868.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

nav
{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 130px;
    padding: 1rem 15rem;
}



nav h1{
    font-size: 2rem;
    color: rgb(47,144,230);
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(129, 129, 129);
}
nav h3:hover{
    color: #2f90e6;
}

.cont{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #2f90e6;
    justify-content: space-around;
    margin: 0 auto;
 box-sizing: border-box;
    padding: 0 15em;

}


.img-cont{
    width: 25%;
    border-radius: 30px 0px 30px 0px;
    border: 7px solid rgb(221, 221, 221);
    transition: all 0.1s linear;

}

.img-cont img{
    height: 99%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px;
}

.img-cont:hover{
    transform: translateY(-10px);
    transition: all 0.1s linear;
}

h1{
    margin: 0px;
}

li{
    list-style:circle;
    margin-top: 10px;
}


.info2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 10px solid #2f90e6;
}


.hr-ver{
    width: 5px;
    background-color: rgb(47,144,230);
}

.info1 hr{
    height: 2px;
    background-color: #2f90e6;
}


.card h1,.info2 h1{
    font-size: 2.5rem;
}

.card p,.info2 p{
    font-size: 1.2rem;
}

.info2 li{
    font-size: 1rem;
}

@media (max-width:675px)
{
   body{
       padding: 0em;
       box-sizing: border-box;
   }

   nav{
       display: flex;
       flex-direction: column;
       text-align: center;
       padding:1em;
       margin-bottom: 5em;
   }

   .cont{
       display: flex;
       flex-direction: column;
       width: 70%;
       padding: 0px;
   }

   .img-cont{
       width: 100%;
       margin: 0 auto;
       margin-bottom: 2em;
   }

   hr{
       width: 70%;
       margin: 0px;
   }
}
